/* Media Queries for screens more than 900px wide */

@media only screen and (min-width: 900px)  {
  .container {
    width: 100% !important;
  }

  .sequencer-container {
    width: 100% !important;
  }
}

/* Media Queries for screens more than 1280px wide */

@media only screen and (min-width: 1280px)  {
  .container {
    width: 1280px !important;
  }

  .sequencer-container {
    width: 1280px !important;
  }
}


/* Media Queries for screens more than 1500px wide */

@media only screen and (min-width: 1500px)  {
  .container {
    width: 1500px !important;
  }

  .sequencer-container {
    width: 1500px !important;
  }
}
/* Media Queries for screens less than 960px wide */

@media only screen and (max-width: 900px)  {
  .container {
    flex-flow: column;
    height: auto !important;
    width: 750px !important;
  }

  .sequencer-container {
    flex-flow: column;
    height: auto !important;
    width: 750px !important;
  }

  .keys span {
    font-size: 1rem;
  }

  .controls {
    width: 100% !important;
  }

  .drum-machine {
    order: -1;
    width: 100% !important;
  }

  .drum {
    font-size: 1.5rem !important;
  }

  .sequencer-buttons {
    width: 6%;
    box-shadow: 1px 1px 2px #000;
    margin: 0 0.25rem;
    height: 50%;
  }
}

/* Media Queries for screens less than 750px wide */

@media only screen and (max-width: 750px)  {
  .container {
    flex-flow: column;
    height: auto !important;
    width: 600px !important;
  }

  .sequencer-container {
    flex-flow: column;
    height: auto !important;
    width: 600px !important;
  }

  .controls {
    width: 100% !important;
  }

  .drum-machine {
    order: -1;
    width: 100% !important;
  }

  .drum {
    font-size: 1.5rem !important;
  }

  .sequencer-buttons {
    width: 6%;
    box-shadow: 1px 1px 2px #000;
    margin: 0 0.25rem;
    height: 50%;
  }
}

/* Media Queries for screens less than 750px wide */

@media only screen and (max-width: 600px)  {
  .container {
    flex-flow: column;
    height: auto !important;
    width: 100% !important;
  }

  .sequencer-container {
    flex-flow: column;
    height: auto !important;
    width: 100% !important;
  }

  .controls {
    width: 100% !important;
  }

  .drum-machine {
    order: -1;
    width: 100% !important;
  }

  .drum {
    font-size: 1rem !important;
  }

  .sequencer-buttons {
    width: 6%;
    box-shadow: 1px 1px 2px #000;
    margin: 0 0.25rem;
    height: 50%;
  }
}

/* Containers & Layout styling */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1280px;
  height: 750px;
  margin: 25px;
  padding: 10px;
  display: flex;
  align-content: space-between;
  background: #757575;
  border-radius: 1rem;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  box-shadow: 4px 4px 2px 2px #000;
}

.controls {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-content: flex-end;
  margin: 0.25rem;
}

.drum-machine {
  width: 50%;
  display: flex;
  padding: 5px;
  flex-flow: wrap row;
  align-content: space-between;
  justify-content: space-between;
}

.sequencer-container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
  width: 100%;
}

.sequencer { 
  height: 610px;
  width: 100%;
}

.controls-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.volume-container {
  display: flex;
  flex-flow: column;
  align-items: space-between;
  height: 400px;
  overflow: hidden;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px #000;
  background: #424242;
}

.volume-control-container {
  color: #ddd;
  border:1px solid #000;
  margin: 0.5rem;
  padding: 0.5rem 0rem;
  height: 75%;
  width: 11%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.2s ease-in-out;
}

.bpm-container {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin: 0 0.5rem;
}

.buttons-container {
  display: flex;
  flex-flow: wrap row;
  align-items: flex-end;
  height: 50px;
}

.drum-label {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: arial;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

.volume-label {
  font-weight: bold;
  font-family: arial;
  text-align: center;
}

.visualizer {
  border: 1px solid #000;
  box-shadow: 2px 2px 2px #000;
}

h1, h3 {
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h3, h5 {
  color: white;
  font-family: arial;
}

button { 
  width: 8rem;
  height: 8rem;
  padding: 0rem;
  margin: 0;
  background: #424242;
  border: 1px solid #000;
  color: #DDD;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
}

.drum {
  width: 32%;
  height: 32%;
  position: relative;
}

.keys {
  width: 100%;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.keys span {
  font-weight: bold;
  color: #1565C0;
/*  color: #FF9800;*/
  display: block;
  width: 50px;
}

.active {
  background: #f44336;
}

h5 {
  text-align: center;
  width: 5rem;
}

.startbtn, .sequencerbtn, .livebtn, .stopbtn, .playbtn, .bpmbtn {
  color: #fff;
  width: auto;
  height: 2rem;
  padding: 0 1.5rem;
  font-size: 1.5rem;
}

.sequencerbtn, .livebtn {
  background: #1565C0;
}

.bpmbtn {
  margin-left: 10px;
}

.startbtn {
  color: #fff;
  width: 33%;
  margin: 0 auto;
  background: #FF9800;
}

.playbtn {
  background: #1B5E20;
  margin-left: 10px;
}

.stopbtn {
  margin-left: 10px;
}

.stopbtn, .bpmbtn {
  background: #f44336;
}

button {
cursor: pointer;
border: 1px solid #000;
box-shadow: 2px 2px 2px #000;
}

button:disabled {
cursor: default; 
background: #333;
}

/* Sequencer styling */

.sequencer-row {
  height: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
}

.sequencer-row label {
  margin: 0 1rem;
  margin-top: 1.5rem;
  color: white;
  height: 100%;
}

.sequencer-buttons {
  width: 6%;
  box-shadow: 1px 1px 2px #000;
  margin: 0 0.25rem;
  height: 100%;
}

.sequencer-buttons:nth-child(n+2) {
  background-color: #424242;
}

.sequencer-buttons:nth-child(n+6) {
  background-color: #999;
}

.sequencer-buttons:nth-child(n+10) {
  background-color: #424242;
}

.sequencer-buttons:nth-child(n+14) {
  background-color: #999;
}

/* General UI Classes */

.hidden {
  display: none;
}

/* Volume Sliders */

input[type=range] {
  -webkit-appearance: slider-vertical;
  height: 100%;
  margin: 1rem 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

#welcome {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 75%;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  font-family: arial;
  padding: 3rem;
  border-radius: 0.5rem;
}

#welcome h1 {
  color: #000;
}

/* BPM UI */

input.bpm {
  width: 10%;
  height: 2rem;
  font-size: 1.5rem;
}
